/* style.css */
body{
  background: rgb(245,245,245);
  color: #575b5a;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: center;
}
h1{
  font-family: 'Lato', sans-serif;
  color: darkgrey;
  font-weight: bolder;
  font-size: 50px;
    text-align: center;
}
h2 {
  font-family: 'Lato', sans-serif;
  color: #6a71e1;
  font-weight: bolder;
  font-size: 30px;
    text-align: center;
}
a {
  color: 42376f;
    text-align: center;
    text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: purple;
    text-align: center;
}

a.btn-secondary {
color: white;
  background-color: #2878B5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

a.btn-secondary:hover {
  background-color: lightgrey;
  color: grey;
  border-color: grey
}


#banner{
    background-image: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
}
#banner h1 {
  font-size: 50px;
  color: #717171;
}
#banner p {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
  color: grey;
  font-style: italic;
}
#footer{
  padding: 30px;
  background-color: black;
  color: white;
}
#footer a {
  color: lightgrey;
  font-size: 32px;
}
#footer a:hover {
  color: white;
}

.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
  height: 350px
}
.card-white img {
  margin-bottom: 20px;
}

.btn-blue {
  color: white;
  background-color: #2878B5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn-blue:hover {
  background-color: white;
  color: #2878B5;
}
